@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_mixins.scss";

.home-container {
    margin: $sp-20*7 $sp-36*4 0 $sp-36*4;
    padding: 0;
}

.add-one-task-icon {
    @include displayAlign(flex, center, center);
    margin-top: $sp-36;
}

.add-one-task-icon button {
   background-color: $bodyGrey;
   border: none;
}
