
.home-container {
    margin-top: 137px;
    margin-right: 150px;
    margin-bottom: 0px;
    margin-left: 150px;
    padding: 0;
}
.home-top {
    margin-bottom: 14px;
}
.add-task-label {
    font-size: 30px;
}
.create-button button {
    color:#FFFFFF;
    background-color:#7A8DFD;
    border-radius: 5px;
    border: 1px solid #D1D8FF;
    padding: 8px
}
.task-cards-container { 
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* you can change 1fr to whatever you want, 200px for example*/
    gap: 2rem;
}
.task-card {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #DDE2FF;
    border-radius: 5px;
}
#task-name {
    margin-top: 0;
    color: #32394B;
}
#task-time {
    font-size: 14px;
    line-height: 16px;
    color: #BBBDD0;
}
.task-card-buttons {
    display: flex;
}
.task-card-buttons button {
    border: none;
    margin-right: 26px;
    width: 24px;
    background-color: #FFFFFF;
}
#task_name_input {
    background: #FFFFFF;
    border: 3px solid #D1D8FF;
    border-radius: 5px;
}
#add-task-button {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #DDE2FF;
    border-radius: 5px;
    width: fit-content;
}
