@import "../styles/colors";

@mixin headerStyle($height, $paddinRight, $paddingLeft ) {
    height: $height;
    padding-left: $paddingLeft;
    padding-right: $paddinRight;
    
}

@mixin headerLabelStyle($fontSize, $paddingLeft) {
    font-size: $fontSize;
    color: $blue;
    padding-left: $paddingLeft;
}

@mixin backgroundPosition($color, $position, $val) {
    background-color: $color;
    position: $position;
    top: $val;
    left: $val;
    right: $val;
    bottom: $val;
}

@mixin displayAlign($dispaly, $align, $justify){
    display: $dispaly;
    align-items: $align;
    justify-content: $justify;
}

@mixin appLabelStyle($fWeight, $fSize){
    color: $blue;
    font-weight: $fWeight;
    font-size: $fSize;
    text-align: center;
}

@mixin dimension($height, $width){
    height: $height;
    width: $width;
}
@mixin buttonCard($padding){
    padding: $padding;
    background: $white;
    border: $sp-1 solid $borderGrey;
    border-radius: $sp-5;
}
