@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_mixins.scss";

.app-splash-screen {
    @include backgroundPosition($white, fixed, 0);
    @include displayAlign(flex, center, center);
    @include dimension(100%, 100%);
    z-index: 100;
    transition: left 0.5s;

    &-inner {
        display: flex;  
        align-items: center; 
    }

    &-label {
        @include appLabelStyle(700, $sp-96);
        height: $sp-112;
    }

    &-logo img {
        @include dimension($sp-153, $sp-153);
    }
}

// Small devices 
@media (max-width: 768px) {  
    .app-splash-screen {
        &-label {
            @include appLabelStyle(300, $sp-56);
        }

        &-logo img {
            @include dimension($sp-103, $sp-103);
        }
    }
 }

// Medium devices 
@media ( (min-width:768px) and (max-width: 1024px)) {
    .app-splash-screen {
        &-label {
            @include appLabelStyle(500, $sp-76);
        }

        &-logo img {
            @include dimension($sp-123, $sp-123);
        }
    }
 }

// Large devices 
@media (min-width: 1024px) { 
    .app-splash-screen {
        &-label {
            @include appLabelStyle(700, $sp-96);
            height: $sp-112; 
        }

        &-logo img {
            @include dimension($sp-153, $sp-153);
        }
    }
 }
