@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_mixins.scss";
@import "src/styles/_reuse.scss";

.app-splash-screen {
  @include backgroundPosition($white, fixed, 0);
  @include displayAlign(flex, center, center);
  @include dimension(100%, 100%);
  z-index: 100;

  &-label {
    @include appLabelStyle(700, $sp-48 * 2);
    height: $sp-20 * 5;
  }

  &-logo img {
    @include dimension($sp-48 * 3, $sp-48 * 3);
  }
}

// Small devices
@media (max-width: 768px) {
  .app-splash-screen {
    &-label {
      @include appLabelStyle(300, $sp-8 * 7);
    }

    &-logo img {
      @include dimension($sp-20 * 5, $sp-20 * 5);
    }
  }
}

// Medium devices
@media ((min-width: 768px) and (max-width: 1024px)) {
  .app-splash-screen {
    &-label {
      @include appLabelStyle(500, $sp-36 * 2);
    }

    &-logo img {
      @include dimension($sp-20 * 6, $sp-20 * 6);
    }
  }
}

// Large devices
@media (min-width: 1024px) {
  .app-splash-screen {
    &-label {
      @include appLabelStyle(700, $sp-48 * 2);
      height: $sp-20 * 5;
    }

    &-logo img {
      @include dimension($sp-20 * 5, $sp-20 * 5);
    }
  }
}
