<div class="home-top">
    <h1 class="add-task-label">Add Task</h1>
    <div class="home-top-buttons">
        <div class="create-button">
            <button (click)="showAddTaskCard()"><fa-icon [icon]="faPlus"></fa-icon> Create</button>
        </div>
        <div class="filter-buttons">
            <button class="add-task-button">All</button>
            <button class="add-task-button">Incomplete</button>
            <button class="add-task-button">Complete</button>
        </div>
    </div>
</div>
