@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_mixins.scss";

.home-top {
    margin-bottom: $sp-14;
}

.home-top-buttons{
    display: flex;
    justify-content: space-between;
}

.filter-buttons button {
    @include buttonCard($sp-14);
    width: fit-content;
    margin-right: $sp-8;
}

.add-task-label {
    font-size: $sp-30;
}

.create-button button {
    color:$white;
    @include buttonCard($sp-14);
    background-color:$blue;
}