@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_mixins.scss";

.edit-task-card{
    &-name {
        @include buttonCard($sp-4);
        border: $sp-4 solid $borderGrey;
        width:96%;
    }

    &-buttons {
        &-save {
            @include buttonCard($sp-12);
            width: fit-content;
            &:hover {
                background-color: $blue; 
                color: $white;
            }
        }

        &-button {
            background-color: $white;
            border: none;
        }
    }
}

.icon-style{
    @include iconStyle();
}
