@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_mixins.scss";

.tasks-container { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $sp-12 ;
}

.task-card {
    @include buttonCard($sp-12);

    &-name {
        margin-top: 0;
        color: #32394B;
    }
    
    &-name-done {
        margin-top: 0;
        color: $green;
    }

    &-time {
        font-size: 14px;
        color: $secondaryTextGrey;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;

        &-buttons {
            display: flex;
        }

        &-button {
            background-color: $white;
            border: none;   
        }

        &-complete {
            color:$white;
            @include buttonCard($sp-8);
            background-color:$blue;   
        }
    }
}

.icon-style {
   @include iconStyle();
}
