<div class="tasks-container" >
    <app-add-task *ngIf="_utilityService.showAddTask"></app-add-task>
    <div class="task-card" *ngFor="let task of tasks; let i=index">
        <h2 class="task-card-name">{{task.name}}</h2>
        <p class="task-card-time">Created At: {{task.createDate}}</p>
        <div class="task-card-buttons">
            <button class="task-card-button"><fa-icon class="icon-style" [icon]="faDone"></fa-icon> </button>
            <button class="task-card-button"><fa-icon class="icon-style" [icon]="faEdit"></fa-icon> </button>
            <button (click)="onDeleteTask(task.id)" class="task-card-button"><fa-icon class="icon-style" [icon]="faDelete"></fa-icon> </button>
        </div>
    </div>
</div>
